.main-content-municipio{
    background-color: #fff;
    border-radius: 10px;
    margin: 0 3%;
    padding: 3%;


    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista-regiones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.boton-region{
    cursor: pointer;
    width: 12%;
    height: 50px;

    border: none;
    border-radius: 10px;
    background-color: rgba(79, 140, 179, 0.5);
}

/*---------Informacion de la Region------------*/
.data-region{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-height: 60vh;
}

/*Los municipios de la region*/
.contenedor-table-content-municipio{
    width: 28%;
    height: 70vh;
    overflow-y: auto;
}
.table-content-municipio{
    border-collapse: collapse;
    border-spacing: 0;
}
.columna-municipio{
    width: 50%;
}
.table-content-municipio tr{
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

/*Boton de ver*/
.columna-ver button{
    cursor: pointer;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border: none;
    padding: 10%;
}
.columna-ver img{
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}
/*-------------------------------*/

/*++++++++++++++++++++++++++++++++*/

/*++++++++++++++++++Informaicon del alcalde del municipio++++++++++++*/
.data-alcalde{
    width: 48%;
    background-color: rgba(147, 169, 204, 0.75);

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    max-height: 70vh;
}
.alcalde-foto-edit{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;  
}
.img-alcalde{
    height: 100%;
    width: 65%;

    display: flex;
}
.img-alcalde img{
    height: 90%;
    align-self: center;
}
.icono-edit-alcalde{
    cursor: pointer;
    background-color: rgba(147, 169, 204, 0);
    border: none;
}

.tabla-alcalde{
    height: 50%;
    color: #fff;
    text-align: left;

    padding: 2%;
}


/*+++++++++++++Documentos descargables del municipio++++++++++++++++*/
.docs-descargables{
    width: 20%;
    max-height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boton-doc-descargable{
    cursor: pointer;
    color: #fff;

    border: none;
    border-radius: 10px;
    background-color: rgba(136, 145, 167, 0.75);

    height: 18%;

    display: flex;
    flex-direction: row;
}
.boton-doc-descargable div{
    padding: 2%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parrafos-doc-descargable{
    margin: 0;
}
.boton-doc-descargable img{
    align-self: flex-end;
    padding-right: 2%;
}

.boton-doc-vermas{
    cursor: pointer;
    background-color: rgba(136, 145, 167, 0.75);
    color: #fff;

    height: 18%;

    border-radius: 10px;
    border: none;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
/*-----------------------------------------------------------*/