.main-form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedor-form{
    border-radius: 30px;

    color: #fff;
    background-color: rgba(33, 38, 46, 0.95);
    width: 70vw;
    height: fit-content;
    padding: 3%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*+++++++++Form+++++++++++*/
.form-total{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 60vh;
}
.form-total-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50vh;
}

.form-text{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 45%;
}
/*++++++++++++++++++++++++++++*/

.input-text{
    height: 10%;
    padding: 4%;
    border-radius: 10px;
}

.input-textarea{
    height: 80%;
    padding: 4%;
    border-radius: 10px;
}

/*+++++++++++++Botones cancelar enviar+++++++++++*/
.form-botones-cancelar-enviar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;

    height: 43px;
}
.form-boton-guardar{
    width: 125px;

    border: none;
    border-radius: 10px;
    background-color: #6BA4FF;
    color: #fff;
}
.form-boton-cancelar{
    width: 125px;

    border: none;
    border-radius: 10px;
    background-color: #FF7D7D;
    color: #fff;
}
/*++++++++++++++++++++++++++++++++++++++++++*/

.form-img{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 45%;
    text-align: end;
}
.form-img label{
    cursor: pointer;
    background-color: #365280;
    width: 50%;
    min-height: 40px;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-left: auto;
}
.form-boton-subir-imagen{
    display: none;
}
.form-imagen-subida{
    background-color: aqua;
    height: 35vh;
    width: 100%;
    border-radius: 10px;
}
